<div class="container">
    <div id="forgetpassbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Forget Password</div>
            </div>
            <div class="panel-body">
                <form id="signupform" class="form-horizontal" role="form">

                    <div class="form-group">
                        <label for="Email" class="col-md-4 control-label">Email or Username</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email or Username">
                        </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <!-- Button -->

                        <div class="col-md-5 controls">
                            <a id="btn-login" href="" class="btn btn-success" ng-click="forget_password()">Reset</a>

                        </div>
                    </div>

                </form>

            </div>
        </div>
<!--<p>This is forget password page.</p>-->
    </div>
</div>